name: Run tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          use-mamba: true
          miniforge-variant: Miniforge3
          miniforge-version: latest
          activate-environment: anaconda-client-env

      - name: Install conda packages
        shell: bash -l {0}
        run: |
          mamba install --file requirements.txt

      - name: Build EdelweissFE
        shell: bash -l {0}
        run: |
          BUILD_WITHOUT_MARMOT=1 python -m pip install .

      - name: Run tests
        shell: bash -l {0}
        run: |
          run_tests_edelweissfe ./testfiles/

